@page
@model BackendAuthProj.Pages.Internships.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Internship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Internship.IdUserDb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Internship.IdUserDb)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Internship.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
