@page
@model BackendAuthProj.Pages.Internships.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship[0].IdUserDb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Internship) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserDb)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
